<div class="form-container mat-elevation-z5">
  <h1>Registra un nuevo usuario!</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Ingrese su nombre
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dirección de correo electrónico" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Ingrese su correo electrónico
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Por favor, introduce una dirección de correo electrónico válida
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Introduzca contraseña
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirmar Contraseña"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Escriba su contraseña nuevamente
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Las contraseñas no coinciden
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary" class="btn">Registrarse</button>
    </div>
  </form>
</div>
