<h1>
    Bienvenido al foro más popular de Bolivia!
</h1>

<div>
    <p>Haga Click en Iniciar Sesión si ya tiene una cuenta registrada o Registrese si aún no cuenta con una.</p>
    
    <button mat-raised-button color="primary" routerLink="/sign-up">
        Registrarse
    </button>
</div>
