<mat-toolbar color="primary" class="color">
  BOLIVIAN DEVELOPERS
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon class="profile">expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon class="login">login</mat-icon>
      Iniciar Sesión
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon class="account">account_circle</mat-icon>
    Perfil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="logout">logout</mat-icon>
    Cerrar Sesión
  </button>
</mat-menu>
