mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

.login{
  color: greenyellow;
}

.profile{
  color: rgb(0, 255, 0);
}

.account{
  color: rgb(19, 198, 230);
}

.logout{
  color: red;
}


.color{
  background-color: rgb(45, 53, 56);
}
