<div class="form-container mat-elevation-z5">
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Correo Electrónico" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Se requiere Dirección de correo electrónico
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Por favor, introduce una dirección de correo electrónico válida
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Se requiere contraseña
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary" class="login-1">Iniciar Sesión</button>
    </div>
    <span class="center margin-top">¿Nuevo en el foro?<a class="sign-up-link" routerLink="/sign-up">Registrarse</a></span>
  </form>
</div>
